<!-- KATEX -->
<link rel="stylesheet" href="{{ site.data.katex.css }}">
<script defer src="{{ site.data.katex.js }}"></script>
<script defer src="{{ site.data.katex.contrib.auto-render.js }}"></script>
<script defer src="{{ site.data.katex.contrib.copy-tex.js }}"></script>
<script defer src="{{ site.data.katex.contrib.mhchem.js }}"></script>
<script defer src="{{ site.data.katex.contrib.mathtex-script-type.js }}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true}
      ],
      throwOnError : false,
      trust: (context) => ['\\htmlId', '\\href'].includes(context.command),
      macros: {
        /* References */
        "\\eqref": "\\href{###1}{(\\text{#1})}",
        "\\ref": "\\href{###1}{\\text{#1}}",
        "\\label": "\\htmlId{#1}{}",

        /* Environments */
        "\\nl": "\\newline",
        "\\nt": "\\nl \\ \\nl",
        "\\dps": "\\displaystyle",
        "\\b": "\\bold",
        "\\bs": "\\boldsymbol",

        /* Mathematics */
        "\\dsum": "\\dps\\sum",
        "\\d": "\\mathrm{d}",
        "\\abs": "\\left\| #1 \\right\|",
        "\\norm": "\\lVert #1 \\rVert",
        "\\card": "\\abs{#1}",
        "\\span": "\\text{span}",
        "\\cross": "\\times",
        "\\pdv#1#2": "\\frac{\\partial #1}{\\partial #2}",

        /* Physics */
        "\\hamd": "\\mathcal{H}",
        "\\lagd": "\\mathcal{L}",
        "\\brkt": "\\braket{#1\|#2}",
        "\\Brkt": "\\Braket{#1\|#2}",
        "\\brktop": "\\braket{#1\|#2\|#3}",
        "\\Brktop": "\\Braket{#1\|#2\|#3}",
        "\\expct": "\\langle #1 \\rangle",
        "\\Expct": "\\left\\langle #1 \\right\\rangle",
        "\\comm": "[#1,#2]",
        "\\Comm": "\\left[ #1,#2 \\right]",
        "\\acomm": "\{#1,#2\}",
        "\\Acomm": "\\left\{ #1,#2 \\right\}",

        /* Constants */
        "\\vpmt": "\\varepsilon_0",
        "\\RydE": "\\mathcal{R}_{\\text{y}}",

        /* Units */
        "\\eV": "\\text{eV}"
      }
    });
  });
</script>