<!-- KATEX -->
<link rel="stylesheet" href="{{ site.data.katex.css }}">
<script defer src="{{ site.data.katex.js }}"></script>
<script defer src="{{ site.data.katex.contrib.auto-render.js }}"></script>
<script defer src="{{ site.data.katex.contrib.copy-tex.js }}"></script>
<script defer src="{{ site.data.katex.contrib.mhchem.js }}"></script>
<script defer src="{{ site.data.katex.contrib.mathtex-script-type.js }}"></script>

<script src="/assets/js/katex.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    render_KaTeX();
  });
</script>