<!-- KATEX -->
<link rel="stylesheet" href="{{ site.data.katex.css }}">
<script defer src="{{ site.data.katex.js }}"></script>
<script defer src="{{ site.data.katex.contrib.auto-render.js }}"></script>
<script defer src="{{ site.data.katex.contrib.copy-tex.js }}"></script>
<script defer src="{{ site.data.katex.contrib.mhchem.js }}"></script>
<script defer src="{{ site.data.katex.contrib.mathtex-script-type.js }}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true}
      ],
      throwOnError : false,
      trust: (context) => ['\\htmlId', '\\href'].includes(context.command),
      macros: {
        /* References */
        "\\eqref": "\\href{###1}{(\\text{#1})}",
        "\\ref": "\\href{###1}{\\text{#1}}",
        "\\label": "\\htmlId{#1}{}",

        /* Fundamentals */
        "\\bs": "\\boldsymbol",
        "\\cross": "\\times",
      }
    });
  });
</script>