<script src="/assets/js/sidebar-folder.js"></script>
<script src="/assets/js/clap-button.js"></script>
<script src="/assets/js/katex.js"></script>
{% if site.lightbox %}
  <script src="/assets/js/lightbox.js"></script>
{% endif %}

<script>
  document
    .getElementById("_pushState")
    .addEventListener("hy-push-state-load", function () {
      get_clap_count();
      apply_lightbox();
    });
  document
    .getElementById("_pushState")
    .addEventListener("hy-push-state-after", function () {
      render_KaTeX();
    });
</script>

<script type="module">
  {% if site.mermaid %}
  import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
  let config = {
    startOnLoad: true,
    fontFamily: "JetBrains Mono",
    theme: "neutral"
  };
  mermaid.initialize(config);
  mermaid.run({ querySelector: ".language-mermaid" });
  {% endif %}
  document
    .getElementById("_pushState")
    .addEventListener("hy-push-state-load", function () {
      {% if site.mermaid %} mermaid.run({ querySelector: ".language-mermaid" }); {% endif %}
    });
</script>