// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}

.clap-count {
  @extend h4;
  color: var(--accent-color);
  display: none;

  svg {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  .flat {
    fill: var(--body-bg);
  }

  .outline {
    fill: var(--accent-color);
  }
}

// Utterances

.utterances {
  max-width: 100%;
}

// Giscus

.giscus,
.giscus-frame {
  width: 100%;
}

.giscus-frame {
  border: none;
}

// Resume

.project-date {
  font-weight: var(--font-weight);
  display: inline;
}

// Printing

@media print {
  a[href]:after {
    display: none;
    visibility: hidden;
  }
}

// Image centering

.text-align-center {
  text-align: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.mermaid {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
}

table.centered {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: fit-content !important;
}

audio.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// iframe

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  margin: 1rem;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Codeblock

div.highlight {

  >.pre-header {
    overflow: hidden;

    > span {
      font-family: var(--code-font-family);
    }
  }
}

.highlighter-rouge {
  border-radius: 0.7em;
}

/*
Fancy Codeblock Scrollbar
 */

html {
  &::-webkit-scrollbar {
    width: 13px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: var(--scrollbar-bg-color);
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: var(--scrollbar-color);
  }
}

#markdown-toc {
  &::-webkit-scrollbar {
    width: 21px;
  }
  &::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 9px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: var(--scrollbar-bg-color);
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 13px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: var(--scrollbar-color);
  }
}

pre {
  border-color: transparent;
  transition: border-color 0.5s ease;

  &::-webkit-scrollbar {
    height: 8px;
    width: auto;
  }

  &:hover {
    border-color: var(--gray);
    transition: border-color 0.2s ease;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-color: inherit;
    border-radius: 10px;
    border-right-style: inset;
    border-right-width: calc(100vw + 100vh);
  }
}

table {
  border-color: transparent;
  transition: border-color 0.5s ease;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &:hover {
    border-color: var(--gray);
    transition: border-color 0.2s ease;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-color: inherit;
    border-radius: 10px;
    border-right-style: inset;
    border-right-width: calc(100vw + 100vh);
  }
}

/*
KaTeX scrollbar
 */

.katex-display {
  padding: 0.25rem !important;
}

.katex-display > .katex {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.75rem;
}

.katex-display > .katex {
  &::-webkit-scrollbar {
    height: 13px;
  }
  &::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: var(--scrollbar-bg-color);
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
    background-color: var(--scrollbar-color);
  }
}