{% assign post             = include.post             %}
{% assign no_link_title    = include.no_link_title    %}
{% assign no_excerpt       = include.no_excerpt       %}
{% assign hide_image       = include.hide_image       %}
{% assign hide_description = include.hide_description %}

<article id="post{{ post.id | replace:'/','-' }}" class="page post mb6" role="article">
  <header>
    <h1 class="post-title flip-project-title">
      {% unless no_link_title %}<a href="{{ post.url | relative_url }}" class="flip-title">{% endunless %}
        {{ post.title }}
        {% if post.classification %}
          <br>
          <span style="font-size:1.5rem;font-style:italic;">{{ post.classification | prepend: " - " }}</span>
        {% endif %}
      {% unless no_link_title %}</a>{% endunless %}
    </h1>

    <div class="post-date">
      {% capture foobar %}
        {%- unless site.hydejack.hide_dates -%}
          {%- assign post_format = site.data.strings.date_formats.post | default:"%d %b %Y" -%}
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:post_format }}</time>
        {%- else -%}
          {{- site.data.strings.posted | default:"Posted" -}}
        {%- endunless -%}
        {{ ' ' }}
        {%- assign category_start     = site.data.strings.category_start     | default:"in " -%}
        {%- assign category_separator = site.data.strings.category_separator | default:" / " -%}
        {%- include components/tag-list.html tags=post.categories meta=site.featured_categories start_with=category_start separator=category_separator -%}
        {{ ' ' }}
        {%- assign tag_start          = site.data.strings.tag_start          | default:"on " -%}
        {%- assign tag_separator      = site.data.strings.tag_separator      | default:", "  -%}
        {%- include components/tag-list.html tags=post.tags meta=site.featured_tags start_with=tag_start separator=tag_separator -%}
      {% endcapture %}
      <span class="ellipsis mr1">
        {{ foobar }}
      </span>
      {% unless site.hydejack.hide_dates or site.hydejack.hide_last_modified or post.hide_last_modified %}
        {% if post.last_modified_at %}
          {% assign d1 = post.date             | date:"%Y-%m-%d" %}
          {% assign d2 = post.last_modified_at | date:"%Y-%m-%d" %}
          {% if d1 != d2 %}
            {% assign label = site.data.strings.last_modified_at | default:"Last modified at" %}
            {% assign last_modified_at_format = site.data.strings.date_formats.last_modified_at | default:"%Y-%m-%d" %}
            <span class="ellipsis" data-tippy-content="{{ label }}{{ site.data.strings.colon }} {{ post.last_modified_at | date:post_format }}">
              <span class="sr-only">{{ label }}{{ site.data.strings.colon }}</span>
              <span class="{{ site.data.strings.last_modified_icon | default:'icon-history' }}"></span>
              <time datetime="{{ post.last_modified_at | date_to_xmlschema }}">{{ post.last_modified_at | date:last_modified_at_format }}</time>
            </span>
          {% endif %}
        {% endif %}
      {% endunless %}

      <span class="additional-info" style="font-size:1rem">
        <span class="page-pv">
          <i class="fas fa-eye"></i>
          <span class="busuanzi-value" id="busuanzi_value_page_pv"></span>
          views
        </span>
        {{ "·" }}
        {% include components/read-time.html content=post.content %}
      </span>
    </div>

    {% assign alt = false %}
    {% unless hide_image %}{% if post.image %}
      {% unless no_link_title %}<a href="{{ post.url | relative_url }}" class="no-hover no-print-link {% unless post.hide_image %}flip-project{% endunless %}" tabindex="-1">{% endunless %}
        <div class="img-wrapper lead aspect-ratio sixteen-nine flip-project-img">
          {% include_cached components/hy-img.html img=post.image alt=post.title width=864 height=486 %}
        </div>
      {% unless no_link_title %}</a>{% endunless %}
      {% assign alt = '' %}
    {% endif %}{% endunless %}

    {% include components/message.html text=post.description hide=hide_description alt=alt %}
  </header>

  $
  % Environments
  \gdef\nl{ \newline }
  \gdef\nt{ \nl \ \nl }
  \gdef\dps{ \displaystyle }


  % Mathematics
  \gdef\b{ \bold }
  \gdef\d{ \mathrm{d} }
  \gdef\dsum{ \dps\sum }
  \gdef\abs#1{ \left| #1 \right| }
  \gdef\norm#1{ \lVert #1 \rVert }
  \gdef\card#1{ \abs{#1} }
  \gdef\span{ \text{span} }
  \gdef\pdv#1#2{ \frac{\partial #1}{\partial #2} }

  % Physics
  \gdef\hamd{ \mathcal{H} }
  \gdef\lagd{ \mathcal{L} }
  \gdef\brkt#1#2{ \braket{#1|#2} }
  \gdef\Brkt#1#2{ \Braket{#1|#2} }
  \gdef\brktop#1#2#3{ \braket{#1|#2|#3} }
  \gdef\Brktop#1#2#3{ \Braket{#1|#2|#3} }
  \gdef\expct#1{ \langle #1 \rangle }
  \gdef\Expct#1{ \left\langle #1 \right\rangle }
  \gdef\comm#1#2{ [#1,#2] }
  \gdef\Comm#1#2{ \left[ #1,#2 \right] }
  \gdef\acomm#1#2{ \{#1,#2\} }
  \gdef\Acomm#1#2{ \left\{ #1,#2 \right\} }

  % Constants
  \gdef\vpmt{ \varepsilon_0 }
  \gdef\RydE{ \mathcal{R}_{\text{y}} }

  % Units
  \gdef\eV{ \text{eV} }
  $

  {% if no_excerpt %}
    {{ post.content }}
  {% else %}
    {{ post.excerpt }}

    {% capture post_title %}<a class="heading flip-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>{% endcapture %}
    {% assign text = site.data.strings.continue_reading | default:"Continue reading <!--post_title-->" %}
    <footer>
      <p class="read-more">
        {{ text | replace:"<!--post_title-->", post_title }}
      </p>
    </footer>
  {% endif %}
</article>
