<!--
  Calculate the post's reading time, and display the word count in tooltip
 -->

{% assign words = include.content | strip_html | split: ' ' | size  %}

<!-- words per minute  -->

{% assign wpm = 60 %}
{% assign min_time = 1 %}

{% assign read_time = words | divided_by: wpm %}

{% unless read_time > 0 %}
  {% assign read_time = min_time %}
{% endunless %}

<!-- return element -->
<span class="readtime" data-toggle="tooltip" data-placement="bottom"
      title="{{ words }} words">
  <i class="fa-regular fa-hourglass-half"></i>
  {{ " " }}{{- read_time -}}{{" min"}}
</span>
